# Modificaciones presupuestarias

Diciembre 2021

In [6]:
import pandas as pd
import sqlite3

In [84]:
stmt_aproved = """
    SELECT year, a.office, office_name
        SUM(approved) AS approved,
        SUM(modified) AS modified,
        SUM(accrued)  AS accrued,
        SUM(shifted) AS shifted
    FROM accrued AS a
    WHERE office LIKE "%00"
    GROUP BY year, a.office
    ORDER BY year, a.office
    LEFT JOIN office AS b
"""

In [85]:
db = sqlite3.connect("../../data/batch2/data/master.db")

In [92]:
data = pd.read_sql(stmt_aproved, db)
data.to_csv("modificaciones.csv", index=False)

In [94]:
data

     year office     approved     modified      accrued       shifted
0    2007   0100  28443540.00  28868311.43  26700781.14  4.247714e+05
1    2007   0200  25180645.00  25180645.00  24721978.29  1.018634e-10
2    2007   0300  10204795.00  14397485.13  14397426.46  4.192690e+06
3    2007   0400    345190.00    510887.00    510800.80  1.656970e+05
4    2007   0500  41278610.00  42150844.10  37562361.75  8.722341e+05
..    ...    ...          ...          ...          ...           ...
363  2021   4100  34922418.00  33385651.49  31535833.03 -1.536767e+06
364  2021   4200  10175309.23   8775912.58   8253336.53 -1.399397e+06
365  2021   4300  67933320.00  88282369.55  72987724.57  2.034905e+07
366  2021   4400   3200557.15   2875541.23   2596560.26 -3.250159e+05
367  2021   4600   5408661.50   4596408.67   3150200.92 -8.122528e+05

[368 rows x 6 columns]